@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    background-color: #ffffff;
    color: #000000;
  }

  .navigation-item {
    font-weight: 700;
    list-style-type: none;
  }

  .navigation-link {
    text-decoration: none;
    color: #000000;
  }

  .navigation-user {
    font-weight: 700;
    color: #000000;
    list-style-type: none;
  }

  .navigation-user-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    padding-top: 9px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  .subject {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

  .subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }


  .advantages-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    list-style-type: none;
  }

  .benefits-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    list-style-type: none;
  }

  .benefits-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-first {
    background-color: #82B3D3;
    margin: 0 auto;
    color: #ffffff;
  }

  .advantages-second {
    background-color: #82B3D3;
    margin: 0 auto;
    color: #ffffff;
  }

  .advantages-third {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-fourth {
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-fifth {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .benefits-first {
    background-color:rgba(131, 179, 211, 0.12);
    background-image: url("../images/house.svg");
  }

  .benefits-second {

  }

  .benefits-third {
    background-color: rgba(131, 179, 211, 0.12);
  }
